In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_size = 1_800 # 6_660
inicial_date = "11/5/2022"    # When database beging
rows_per_person =  (3 * 6)    # Num of people * Num of meals a day

archive = "Final Proyect.xlsx"      # Main archive
new_archive = "Data _ new 5.xlsx"   # Second archive
sheet = "Data"                      # Excel sheet

In [3]:
def generate_dates(inicial_date: str = inicial_date, size: int = data_size, rows: int = rows_per_person) -> list:
    month, day, year = [int(date) for date in inicial_date.split("/")]

    dates = [f"{month}/{day}/{year}" for _ in range(rows)]
    
    for _ in range(size // rows - 1):
        month31 = month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10
        month30 = month == 4 or month == 6 or month == 9 or month == 10 or month == 11

        if month == 12 and day == 31:
            
            year += 1
            day, month = 1, 1

        elif month31 and day == 31 or month30 and day == 30 or month == 2 and day == 28:  # not prepare for leap years

            month += 1
            day = 1

        else:
            
            day += 1


        dates += [f"{month}/{day}/{year}" for _ in range(rows)]
        

    return dates

In [12]:
def generate_data() -> pd.DataFrame:
    
    total_hours = []
    people = ['palomares' , 'adrian', 'angel'] * (data_size // 3)
    new_keys = ['fecha', 'hora', 'persona', 'num. comidas', 'calorias']
    hours = "7:00:00 AM, 10:00:00 AM, 2:00:00 PM, 6:00:00 PM, 10:00:00 PM, 11:00:00 PM".split(", ")
    
    food = "\
mandarinas, sandía, mango, jugo de naranja, melon, cereal, tortilla de maiz, tortilla de nopal, palomitas de maiz, papa cocida, \
camote, pan de caja orowheat, pan tostado, galleta de avena, tostada horneada, galletas  marias, galletas habaneras, avena, \
grano lamixta, salmitas, arroz, pasta, yogurt griego, frijoles molidos, habas, pechuga de pollo, clara de huevo, \
sobre de atun, pechuga de pavo, salmon ahumado, pescado, queso panela light, bistec de bola cortemagro, huevo, carne molida de sirloin, \
filete de res, filete de arrachera, aguacate(con cucharadita aceite de coco), nueces, almendras, aceite de aguacate, aceite de oliva, \
mantequilla de maní, Melon, Platano, Manzana, Chapata, Salmon, Pasta, Arroz, Frituras, Tacos, Motuleños, Tostada, Uvas, Pure, \
Tacos de salmon, Café, Chocolate, Snacks, Pizza, sabritas, fuzetea \
".lower().split(", ")


    amount_food = [[np.random.randint(0, 3) for _ in range(data_size)] for _ in enumerate(food)]
    
    
    for hour in hours: total_hours.extend((hour, hour, hour))
    total_hours = total_hours * (data_size // rows_per_person)
    
    new_values = [generate_dates(), total_hours, people, np.nan,np.nan]
    
    
    for i, key in enumerate(new_values):
        amount_food.insert(i, key)
    
    
    for i, value in enumerate(new_keys):
        food.insert(i, value)
        
    
    df =  pd.DataFrame({key: values for key, values in zip(food, amount_food)})
    
    df['num. comidas'] = df[food].sum(axis=1, numeric_only=True)
    
    return df

In [13]:
def print_data(new: bool):
    
    generate_data().to_excel(new_archive if new else archive, index=False)

    
def read_new_data(new: bool):
    
    data = pd.read_excel(
        new_archive if new else archive,
        sheet_name = sheet,
        na_values = None
    )
    
    return data

In [14]:
generate_data()

,fecha,hora,persona,num. comidas,calorias,mandarinas,sandía,mango,jugo de naranja,melon,...,tostada,uvas,pure,tacos de salmon,café,chocolate,snacks,pizza,sabritas,fuzetea
0,11/5/2022,7:00:00 AM,palomares,62.0,NaN,0,2,2,1,2,...,2,2,0,2,2,1,1,0,1,1
1,11/5/2022,7:00:00 AM,adrian,61.0,NaN,0,2,0,2,1,...,2,1,2,2,0,0,0,1,2,1
2,11/5/2022,7:00:00 AM,angel,55.0,NaN,0,2,2,1,2,...,2,1,1,1,1,1,0,0,1,1
3,11/5/2022,10:00:00 AM,palomares,56.0,NaN,2,1,0,0,1,...,0,2,1,2,0,1,1,2,1,2
4,11/5/2022,10:00:00 AM,adrian,67.0,NaN,1,2,2,1,0,...,0,2,1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,2/12/2023,10:00:00 PM,adrian,67.0,NaN,2,2,2,2,2,...,0,1,1,1,2,0,2,0,0,0
1796,2/12/2023,10:00:00 PM,angel,50.0,NaN,2,1,1,0,0,...,0,2,1,2,0,0,0,1,1,1
1797,2/12/2023,11:00:00 PM,palomares,58.0,NaN,1,0,1,1,0,...,2,0,2,0,1,2,0,0,2,0
1798,2/12/2023,11:00:00 PM,adrian,56.0,NaN,1,1,0,1,2,...,2,1,1,2,0,1,2,1,0,1
1799,2/12/2023,11:00:00 PM,angel,57.0,NaN,2,1,1,1,1,...,1,1,2,1,1,0,2,1,0,0

In [15]:
data = read_new_data(new = False)

In [8]:
data

,dia,hora,persona,num. comidas,calorias,mandarinas,sandía,mango,jugo de naranja,melon,...,motuleños,tostada,uvas,pure,tacos de salmon,café,chocolate,snacks,pizza,fuzetea
0,2022-11-04,07:00:00,angel,63,501,2,1,0,0,0,...,1,1,1,2,0,0,0,0,0,0
1,2022-11-04,10:00:00,angel,77,1398,0,2,2,2,2,...,1,2,2,0,1,0,2,0,1,0
2,2022-11-04,14:00:00,angel,57,1000,2,0,0,0,1,...,2,0,2,2,1,0,1,2,0,1
3,2022-11-04,18:00:00,angel,56,683,2,0,1,2,1,...,1,0,0,2,0,0,0,1,1,0
4,2022-11-04,22:00:00,angel,63,1241,1,0,1,1,1,...,1,1,1,0,1,2,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6655,2035-11-07,10:00:00,palomares,69,1194,0,1,1,1,1,...,2,2,1,1,1,1,0,1,2,2
6656,2035-11-08,14:00:00,palomares,63,1522,2,1,2,0,1,...,2,2,2,1,0,2,2,0,2,1
6657,2035-11-09,18:00:00,palomares,64,857,2,2,1,2,0,...,0,0,1,0,2,0,1,0,2,1
6658,2035-11-10,22:00:00,palomares,73,1379,2,0,0,1,2,...,0,0,0,0,1,2,0,1,2,0
6659,2035-11-11,23:00:00,palomares,59,1562,2,1,0,1,2,...,2,2,2,1,0,2,0,0,2,0

In [9]:
plt.scatter(data['fecha'], data['calorias'])

KeyError: 'fecha'

plt.scatter()

generate_dates(inicial_date, data_size, rows_per_person)

print_data(True)