# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_size = 1_800 # 6_660
inicial_date = "11/5/2022"    # When database beging
rows_per_person =  (3 * 6)    # Num of people * Num of meals a day

archive = "Final Proyect.xlsx"      # Main archive
new_archive = "Data _ new 5.xlsx"   # Second archive
sheet = "Data"                      # Excel sheet

# Generate dates

In [4]:
def generate_dates(inicial_date: str = inicial_date, size: int = data_size, rows: int = rows_per_person) -> list:
    month, day, year = [int(date) for date in inicial_date.split("/")]

    dates = [f"{month}/{day}/{year}" for _ in range(rows)]
    
    for _ in range(size // rows - 1):
        month31 = month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10
        month30 = month == 4 or month == 6 or month == 9 or month == 10 or month == 11

        if month == 12 and day == 31:
            
            year += 1
            day, month = 1, 1

        elif month31 and day == 31 or month30 and day == 30 or month == 2 and day == 28:  # not prepare for leap years

            month += 1
            day = 1

        else:
            
            day += 1


        dates += [f"{month}/{day}/{year}" for _ in range(rows)]
        

    return dates

# Calorias de los alimentos

In [ ]:
def FoodCalories():
    return {
        "cereal": 120,  # Per cup
        "tortilla de maiz": 50,  # Per tortilla
        "tortilla de nopal": 30,  # Per tortilla
        "palomitas de maiz": 35,  # Per cup
        "papa cocida": 90,  # Per medium potato
        "camote": 100,  # Per medium sweet potato
        "pan de caja orowheat": 70,  # Per slice
        "pan tostado": 65,  # Per slice
        "galleta de avena": 50,  # Per cookie
        "tostada horneada": 70,  # Per piece
        "galletas marias": 30,  # Per cookie
        "galletas habaneras": 40,  # Per cookie
        "avena": 150,  # Per cup cooked
        "grano lamixta": 120,  # Per cup
        "salmitas": 160,  # Per packet
        "arroz": 200,  # Per cup cooked
        "pasta": 220,  # Per cup cooked
        "yogurt griego": 100,  # Per 100g
        "frijoles molidos": 120,  # Per cup
        "habas": 110,  # Per cup
        "pechuga de pollo": 165,  # Per 100g
        "clara de huevo": 17,  # Per egg white
        "sobre de atun": 90,  # Per 100g
        "pechuga de pavo": 120,  # Per 100g
        "salmon ahumado": 120,  # Per 100g
        "pescado": 200,  # Per 100g
        "queso panela light": 90,  # Per 100g
        "bistec de bola cortemagro": 150,  # Per 100g
        "huevo": 78,  # Per large egg
        "carne molida de sirloin": 200,  # Per 100g
        "filete de res": 250,  # Per 100g
        "filete de arrachera": 210,  # Per 100g
        "aguacate(con cucharadita aceite de coco)": 120,  # Per 100g
        "nueces": 650,  # Per 100g
        "almendras": 579,  # Per 100g
        "aceite de aguacate": 884,  # Per 100g
        "aceite de oliva": 884,  # Per 100g
        "mantequilla de maní": 590,  # Per 100g
        "Melon": 34,  # Per 100g
        "Platano": 89,  # Per 100g
        "Manzana": 52,  # Per 100g
        "Chapata": 250,  # Per loaf
        "Salmon": 206,  # Per 100g
        "Pasta": 220,  # Already defined
        "Arroz": 200,  # Already defined
        "Frituras": 536,  # Per 100g
        "Tacos": 150,  # Per taco
        "Motuleños": 400,  # Per plate
        "Tostada": 70,  # Already defined
        "Uvas": 69,  # Per 100g
        "Pure": 85,  # Per 100g
        "Tacos de salmon": 200,  # Per taco
        "Café": 2,  # Per cup
        "Chocolate": 546,  # Per 100g
        "Snacks": 500,  # Per 100g
        "Pizza": 266,  # Per slice
        "sabritas": 536,  # Per 100g
        "fuzetea": 19,}  # Per 100ml

# Generate data

In [5]:
def generate_data() -> pd.DataFrame:
    
    total_hours = []
    people = ['palomares' , 'adrian', 'angel'] * (data_size // 3)
    new_keys = ['fecha', 'hora', 'persona', 'num. comidas', 'calorias']
    hours = "7:00:00 AM, 10:00:00 AM, 2:00:00 PM, 6:00:00 PM, 10:00:00 PM, 11:00:00 PM".split(", ")
    
    food = "\
mandarinas, sandía, mango, jugo de naranja, melon, cereal, tortilla de maiz, tortilla de nopal, palomitas de maiz, papa cocida, \
camote, pan de caja orowheat, pan tostado, galleta de avena, tostada horneada, galletas  marias, galletas habaneras, avena, \
grano lamixta, salmitas, arroz, pasta, yogurt griego, frijoles molidos, habas, pechuga de pollo, clara de huevo, \
sobre de atun, pechuga de pavo, salmon ahumado, pescado, queso panela light, bistec de bola cortemagro, huevo, carne molida de sirloin, \
filete de res, filete de arrachera, aguacate(con cucharadita aceite de coco), nueces, almendras, aceite de aguacate, aceite de oliva, \
mantequilla de maní, Melon, Platano, Manzana, Chapata, Salmon, Pasta, Arroz, Frituras, Tacos, Motuleños, Tostada, Uvas, Pure, \
Tacos de salmon, Café, Chocolate, Snacks, Pizza, sabritas, fuzetea \
".lower().split(", ")
    
# For filling in the calorie content for the newly added foods, I will use standard calorie values from reliable sources.
# These are approximate values and may vary based on specific food varieties and preparation methods.
    amount_food = [[np.random.randint(0, 3) for _ in range(data_size)] for _ in enumerate(food)]


    for hour in hours: total_hours.extend((hour, hour, hour))
    total_hours = total_hours * (data_size // rows_per_person)

    new_values = [generate_dates(), total_hours, people, np.nan,np.nan]


    for i, key in enumerate(new_values):
        amount_food.insert(i, key)


    for i, value in enumerate(new_keys):
        food.insert(i, value)
        

    df =  pd.DataFrame({key: values for key, values in zip(food, amount_food)})

    df['num. comidas'] = df[food].sum(axis=1, numeric_only=True)

    return df

# Print data

In [6]:
def print_data(new: bool):
    
    generate_data().to_excel(new_archive if new else archive, index=False)

    
def read_new_data(new: bool):
    
    data = pd.read_excel(
        new_archive if new else archive,
        sheet_name = sheet,
        na_values = None
    )
    
    return data

In [7]:
generate_data()

,fecha,hora,persona,num. comidas,calorias,mandarinas,sandía,mango,jugo de naranja,melon,...,tostada,uvas,pure,tacos de salmon,café,chocolate,snacks,pizza,sabritas,fuzetea
0,11/5/2022,7:00:00 AM,palomares,58.0,NaN,2,0,0,2,0,...,1,1,1,1,0,0,0,2,0,2
1,11/5/2022,7:00:00 AM,adrian,55.0,NaN,2,1,0,0,1,...,0,1,1,2,0,1,0,1,1,0
2,11/5/2022,7:00:00 AM,angel,64.0,NaN,0,0,1,1,1,...,2,2,2,1,1,0,0,2,1,1
3,11/5/2022,10:00:00 AM,palomares,61.0,NaN,1,0,2,1,0,...,2,0,1,1,2,0,1,0,2,1
4,11/5/2022,10:00:00 AM,adrian,62.0,NaN,2,0,2,1,2,...,0,0,0,1,2,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,2/12/2023,10:00:00 PM,adrian,54.0,NaN,1,1,0,0,2,...,2,0,0,2,0,0,2,2,1,0
1796,2/12/2023,10:00:00 PM,angel,56.0,NaN,2,2,0,2,2,...,1,2,2,0,0,2,1,0,2,2
1797,2/12/2023,11:00:00 PM,palomares,68.0,NaN,1,2,2,0,2,...,1,0,0,0,2,1,1,0,2,1
1798,2/12/2023,11:00:00 PM,adrian,69.0,NaN,2,0,2,0,2,...,0,0,2,2,2,2,0,2,0,0
1799,2/12/2023,11:00:00 PM,angel,63.0,NaN,0,2,1,1,1,...,2,2,0,1,1,2,2,2,0,0

In [15]:
data = read_new_data(new = False)

In [8]:
data

,dia,hora,persona,num. comidas,calorias,mandarinas,sandía,mango,jugo de naranja,melon,...,motuleños,tostada,uvas,pure,tacos de salmon,café,chocolate,snacks,pizza,fuzetea
0,2022-11-04,07:00:00,angel,63,501,2,1,0,0,0,...,1,1,1,2,0,0,0,0,0,0
1,2022-11-04,10:00:00,angel,77,1398,0,2,2,2,2,...,1,2,2,0,1,0,2,0,1,0
2,2022-11-04,14:00:00,angel,57,1000,2,0,0,0,1,...,2,0,2,2,1,0,1,2,0,1
3,2022-11-04,18:00:00,angel,56,683,2,0,1,2,1,...,1,0,0,2,0,0,0,1,1,0
4,2022-11-04,22:00:00,angel,63,1241,1,0,1,1,1,...,1,1,1,0,1,2,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6655,2035-11-07,10:00:00,palomares,69,1194,0,1,1,1,1,...,2,2,1,1,1,1,0,1,2,2
6656,2035-11-08,14:00:00,palomares,63,1522,2,1,2,0,1,...,2,2,2,1,0,2,2,0,2,1
6657,2035-11-09,18:00:00,palomares,64,857,2,2,1,2,0,...,0,0,1,0,2,0,1,0,2,1
6658,2035-11-10,22:00:00,palomares,73,1379,2,0,0,1,2,...,0,0,0,0,1,2,0,1,2,0
6659,2035-11-11,23:00:00,palomares,59,1562,2,1,0,1,2,...,2,2,2,1,0,2,0,0,2,0

In [11]:
# plt.scatter(data['fecha'], data['calorias'])

plt.scatter()

generate_dates(inicial_date, data_size, rows_per_person)

print_data(True)

In [9]:
print_data(True)

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 608.0 kB/s eta 0:00:0000:0100:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.