# Imports

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
data_size = 1_800 # 6_660
inicial_date = "11/5/2022"    # When database beging
rows_per_person =  (3 * 6)    # Num of people * Num of meals a day

archive = "Final Proyect.xlsx"         # Main archive
second_archive = "Data _ new.xlsx"     # Second archive

### Excel sheets

In [13]:
sheet_0 = "Data"
sheet_1 = "Calories"                 
sheet_2 = "fat saturade"        
sheet_3 = "fat insaturade"      
sheet_4 = "proteins"

# Generate dates

In [14]:
def generate_dates(inicial_date: str = inicial_date, size: int = data_size, rows: int = rows_per_person) -> list:
    month, day, year = [int(date) for date in inicial_date.split("/")]

    dates = [f"{month}/{day}/{year}" for _ in range(rows)]
    
    for _ in range(size // rows - 1):
        month31 = month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10
        month30 = month == 4 or month == 6 or month == 9 or month == 10 or month == 11

        if month == 12 and day == 31:
            
            year += 1
            day, month = 1, 1

        elif month31 and day == 31 or month30 and day == 30 or month == 2 and day == 28:  # not prepare for leap years

            month += 1
            day = 1

        else:
            
            day += 1


        dates += [f"{month}/{day}/{year}" for _ in range(rows)]
        

    return dates

# Calorias de los alimentos

In [15]:
def meal_dict():
    return {
        "cereal": 120,               # Per cup
        "tortilla de maiz": 50,      # Per tortilla
        "tortilla de nopal": 30,     # Per tortilla
        "palomitas de maiz": 35,     # Per cup
        "papa cocida": 90,           # Per medium potato
        "camote": 100,               # Per medium sweet potato
        "pan de caja orowheat": 70,  # Per slice
        "pan tostado": 65,           # Per slice
        "galleta de avena": 50,      # Per cookie
        "tostada horneada": 70,      # Per piece
        "galletas marias": 30,       # Per cookie
        "galletas habaneras": 40,    # Per cookie
        "avena": 150,                # Per cup cooked
        "grano lamixta": 120,        # Per cup
        "salmitas": 160,             # Per packet
        "arroz": 200,                # Per cup cooked
        "pasta": 220,                # Per cup cooked
        "yogurt griego": 100,        # Per 100g
        "frijoles molidos": 120,     # Per cup
        "habas": 110,                # Per cup
        "pechuga de pollo": 165,     # Per 100g
        "clara de huevo": 17,        # Per egg white
        "sobre de atun": 90,         # Per 100g
        "pechuga de pavo": 120,      # Per 100g
        "salmon ahumado": 120,       # Per 100g
        "pescado": 200,              # Per 100g
        "queso panela light": 90,    # Per 100g
        "bistec de bola cortemagro": 150,  # Per 100g
        "huevo": 78,                 # Per large egg
        "carne molida de sirloin": 200,  # Per 100g
        "filete de res": 250,        # Per 100g
        "filete de arrachera": 210,  # Per 100g
        "aguacate(con cucharadita aceite de coco)": 120,  # Per 100g
        "nueces": 650,               # Per 100g
        "almendras": 579,            # Per 100g
        "aceite de aguacate": 884,   # Per 100g
        "aceite de oliva": 884,      # Per 100g
        "mantequilla de maní": 590,  # Per 100g
        "Melon": 34,                 # Per 100g
        "Platano": 89,               # Per 100g
        "Manzana": 52,               # Per 100g
        "Chapata": 250,              # Per loaf
        "Salmon": 206,               # Per 100g
        "Pasta": 220,                # Already defined
        "Arroz": 200,                # Already defined
        "Frituras": 536,             # Per 100g
        "Tacos": 150,                # Per taco
        "Motuleños": 400,            # Per plate
        "Tostada": 70,               # Already defined
        "Uvas": 69,                  # Per 100g
        "Pure": 85,                  # Per 100g
        "Tacos de salmon": 200,      # Per taco
        "Café": 2,                   # Per cup
        "Chocolate": 546,            # Per 100g
        "Snacks": 500,               # Per 100g
        "Pizza": 266,                # Per slice
        "sabritas": 536,             # Per 100g
        "fuzetea": 19}               # Per 100ml

# Generate data

In [16]:
def generate_data(data: str) -> pd.DataFrame:

    if data == "main":
        
        total_hours = []
        people = ['palomares' , 'adrian', 'angel'] * (data_size // 3)
        keys = [
                    'fecha', 'hora', 'persona', 'num. comidas', 
                    'calorias', 'grasas saturada (sum)', 'grasas insaturadas (sum)',
                    'proteinas (sum)', 'carbohidratos'
                ]
        hours = [
                    '7:00:00 AM',
                    '10:00:00 AM',
                    '2:00:00 PM',
                    '6:00:00 PM',
                    '10:00:00 PM',
                    '11:00:00 PM'
    ]
        food = list(meal_dict())

        
    # For filling in the calorie content for the newly added foods, I will use standard calorie values from reliable sources.
    # These are approximate values and may vary based on specific food varieties and preparation methods.
        amount_food = [[np.random.randint(0, 3) for _ in range(data_size)] for _ in enumerate(food)]


        for hour in hours: total_hours.extend((hour, hour, hour))
        total_hours *= (data_size // rows_per_person)

        values = [generate_dates(), total_hours, people] + [np.nan for _ in range(6)]



        df = {key: value for key, value in zip(keys, values)}
        for key, value in zip(food, amount_food): df[key] = value


        df =  pd.DataFrame(df)

        df['num. comidas'] = df[food].sum(axis=1, numeric_only=True)

        return df
    
    
    if data == "calories":
        return pd.DataFrame({key: [value * i for i in range(10)] for key, value in meal_dict().items()})
    
    if data == "saturade":
        return []
    
    if data == "insaturade":
        return []
    
    if data == "proteins":
        return []

# Print data

In [17]:
def print_data(new: bool): # Add function to create a diferent archive ---- 

    with pd.ExcelWriter(archive ,engine="openpyxl") as writer:
        generate_data("main").to_excel(writer, sheet_name=sheet_0, index=False)
        generate_data("calories").to_excel(writer, sheet_name=sheet_1, index=False)
        generate_data("saturade").to_excel(writer, sheet_name=sheet_2, index=False)
        generate_data("insaturade").to_excel(writer, sheet_name=sheet_3, index=False)
        generate_data("proteins").to_excel(writer, sheet_name=sheet_4, index=False)

In [18]:
def read_new_data(new: bool):  # Add function to read a diferent archive ---- 
    
    return pd.read_excel(
        second_archive if new else archive,
        sheet_name = sheet_0,
        na_values = None
    )

In [20]:
generate_data("main")

,fecha,hora,persona,num. comidas,calorias,grasas saturada (sum),grasas insaturadas (sum),proteinas (sum),carbohidratos,cereal,...,Tostada,Uvas,Pure,Tacos de salmon,Café,Chocolate,Snacks,Pizza,sabritas,fuzetea
0,11/5/2022,7:00:00 AM,palomares,59,NaN,NaN,NaN,NaN,NaN,2,...,0,1,0,1,2,1,0,1,0,2
1,11/5/2022,7:00:00 AM,adrian,49,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,0,1,2,0,1,1,0
2,11/5/2022,7:00:00 AM,angel,61,NaN,NaN,NaN,NaN,NaN,2,...,1,0,1,1,2,2,2,0,1,2
3,11/5/2022,10:00:00 AM,palomares,53,NaN,NaN,NaN,NaN,NaN,0,...,0,2,2,1,2,0,1,2,1,2
4,11/5/2022,10:00:00 AM,adrian,64,NaN,NaN,NaN,NaN,NaN,0,...,2,2,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,2/12/2023,10:00:00 PM,adrian,51,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,0,1,1,1,1,2,0
1796,2/12/2023,10:00:00 PM,angel,60,NaN,NaN,NaN,NaN,NaN,1,...,1,0,2,1,0,2,1,1,0,0
1797,2/12/2023,11:00:00 PM,palomares,56,NaN,NaN,NaN,NaN,NaN,1,...,2,0,0,1,2,1,0,2,0,0
1798,2/12/2023,11:00:00 PM,adrian,61,NaN,NaN,NaN,NaN,NaN,1,...,0,1,2,0,0,1,1,2,0,1
1799,2/12/2023,11:00:00 PM,angel,52,NaN,NaN,NaN,NaN,NaN,0,...,1,0,1,0,1,1,0,1,0,1

In [21]:
generate_data("calories")

,cereal,tortilla de maiz,tortilla de nopal,palomitas de maiz,papa cocida,camote,pan de caja orowheat,pan tostado,galleta de avena,tostada horneada,...,Tostada,Uvas,Pure,Tacos de salmon,Café,Chocolate,Snacks,Pizza,sabritas,fuzetea
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,120,50,30,35,90,100,70,65,50,70,...,70,69,85,200,2,546,500,266,536,19
2,240,100,60,70,180,200,140,130,100,140,...,140,138,170,400,4,1092,1000,532,1072,38
3,360,150,90,105,270,300,210,195,150,210,...,210,207,255,600,6,1638,1500,798,1608,57
4,480,200,120,140,360,400,280,260,200,280,...,280,276,340,800,8,2184,2000,1064,2144,76
5,600,250,150,175,450,500,350,325,250,350,...,350,345,425,1000,10,2730,2500,1330,2680,95
6,720,300,180,210,540,600,420,390,300,420,...,420,414,510,1200,12,3276,3000,1596,3216,114
7,840,350,210,245,630,700,490,455,350,490,...,490,483,595,1400,14,3822,3500,1862,3752,133
8,960,400,240,280,720,800,560,520,400,560,...,560,552,680,1600,16,4368,4000,2128,4288,152
9,1080,450,270,315,810,900,630,585,450,630,...,630,621,765,1800,18,4914,4500,2394,4824,171

In [ ]:
# data = read_new_data(new = False)

In [ ]:
# data

In [ ]:
# plt.scatter(data['fecha'], data['calorias'])

In [ ]:
# print_data(True)