# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Variables

In [2]:
data_size = 180      # 6_660             # Must be divisible by rows per day(amunt of people * meals a day)
inicial_date = "11/5/2022"    # When database beging

## Key df parameters

In [3]:
people = [
    'palomares',
    'adrian',
    'angel'   
]

In [4]:
parameters = [
    'fecha', 
    'hora', 
    'persona', 
    'num. comidas',  
    'calorias', 
    'grasas saturadas (mg)', 
    'grasas insaturadas (mg)', 
    'proteinas (mg)', 
    'carbohydrates'
]

In [5]:
hours = [
    '7:00:00 AM',
    '10:00:00 AM',
    '2:00:00 PM',
    '6:00:00 PM',
    '10:00:00 PM',
    '11:00:00 PM'                                        # modify to automatic -------------------   
]

### Excel sheets

In [6]:
all_sheets = [             # re-size or remove along with "print_data"
    "Data",
    "Calories",                 
    "saturated_fat",        
    "insaturated_fat",      
    "proteins",  
    'carbohydrates' 
]

### Funtionality variables

In [7]:
rows_per_day =  (len(people) * 6)     # Amount of people * Num of meals a day
serving_limit = 10          

archive = "Final Proyect 2.xlsx"      # Main archive
second_archive = "Data _ new.xlsx"    # Second archive

### Calories per serving of food

In [8]:
food =  {
        "cereal": 120,               # Per cup
        "tortilla de maiz": 50,      # Per tortilla
        "tortilla de nopal": 30,     # Per tortilla
        "palomitas de maiz": 35,     # Per cup
        "papa cocida": 90,           # Per medium potato
        "camote": 100,               # Per medium sweet potato
        "pan de caja orowheat": 70,  # Per slice
        "pan tostado": 65,           # Per slice
        "galleta de avena": 50,      # Per cookie
        "tostada horneada": 70,      # Per piece
        "galletas marias": 30,       # Per cookie
        "galletas habaneras": 40,    # Per cookie
        "avena": 150,                # Per cup cooked
        "grano lamixta": 120,        # Per cup
        "salmitas": 160,             # Per packet
        "arroz": 200,                # Per cup cooked
        "pasta": 220,                # Per cup cooked
        "yogurt griego": 100,        # Per 100g
        "frijoles molidos": 120,     # Per cup
        "habas": 110,                # Per cup
        "pechuga de pollo": 165,     # Per 100g
        "clara de huevo": 17,        # Per egg white
        "sobre de atun": 90,         # Per 100g
        "pechuga de pavo": 120,      # Per 100g
        "salmon ahumado": 120,       # Per 100g
        "pescado": 200,              # Per 100g
        "queso panela light": 90,    # Per 100g
        "bistec de bola cortemagro": 150,    # Per 100g
        "huevo": 78,                         # Per large egg
        "carne molida de sirloin": 200,      # Per 100g
        "filete de res": 250,        # Per 100g
        "filete de arrachera": 210,  # Per 100g
        "aguacate(con cucharadita aceite de coco)": 120,  # Per 100g
        "nueces": 650,               # Per 100g
        "almendras": 579,            # Per 100g
        "aceite de aguacate": 884,   # Per 100g
        "aceite de oliva": 884,      # Per 100g
        "mantequilla de maní": 590,  # Per 100g
        "Melon": 34,                 # Per 100g
        "Platano": 89,               # Per 100g
        "Manzana": 52,               # Per 100g
        "Chapata": 250,              # Per loaf
        "Salmon": 206,               # Per 100g
        "Pasta": 220,                # Already defined
        "Arroz": 200,                # Already defined
        "Frituras": 536,             # Per 100g
        "Tacos": 150,                # Per taco
        "Motuleños": 400,            # Per plate
        "Tostada": 70,               # Already defined
        "Uvas": 69,                  # Per 100g
        "Pure": 85,                  # Per 100g
        "Tacos de salmon": 200,      # Per taco
        "Café": 2,                   # Per cup
        "Chocolate": 546,            # Per 100g
        "Snacks": 500,               # Per 100g
        "Pizza": 266,                # Per slice
        "sabritas": 536,             # Per 100g
        "fuzetea": 19}               # Per 100ml

# Generate Dates

In [9]:
def generate_dates(inicial_date: str = inicial_date, size: int = data_size, rows: int = rows_per_day) -> list:
# 
# 
# not prepare for leap years-----------------------------
#


    month, day, year = [int(date) for date in inicial_date.split("/")]

    dates = np.array([f"{month}/{day}/{year}" for _ in range(rows)], dtype=np.str_)
    
    for _ in range(size // rows - 1):
        month31 = month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10
        month30 = month == 4 or month == 6 or month == 9 or month == 10 or month == 11

        if month == 12 and day == 31:
            year += 1
            day, month = 1, 1

        elif month31 and day == 31 or month30 and day == 30 or month == 2 and day == 28: 
            month += 1
            day = 1

        else:
            day += 1


        dates = np.append(dates, np.array([f"{month}/{day}/{year}" for _ in range(rows)], dtype=np.str_))
        

    return dates

# Generate sum for each parameter

In [10]:
def index(df_1: pd.DataFrame, df_2: pd.DataFrame):
    values = np.array([], dtype=np.int64)
    first_element = df_1.columns.get_loc(list(food)[0])

    for row in range(data_size):
        suma = np.int64(0)

        for col in range(len(food)):
            suma += df_2.iloc[df_1.iloc[row][col + first_element]][col]

        values = np.append(values, suma)

    return values

In [11]:
def match_x(look_up_key: str, large: int = serving_limit) -> pd.DataFrame:
    
    if look_up_key == parameters[4]:
        return pd.DataFrame({key: [value * i for i in range(large)] for key, value in food.items()})
    
    if look_up_key == parameters[5]:
        return pd.DataFrame({key: [value * i for i in range(large)] for key, value in food.items()})    # not real
    
    if look_up_key == parameters[6]:
        return pd.DataFrame({key: [value * i for i in range(large)] for key, value in food.items()})    # not real
    
    if look_up_key == parameters[7]:
        return pd.DataFrame({key: [value * i for i in range(large)] for key, value in food.items()})    # not real
    
    if look_up_key == parameters[8]:
        return pd.DataFrame({key: [value * i for i in range(large)] for key, value in food.items()})    # not real
    
    else:
        raise ValueError(f"{look_up_key} not found")

# Distribution of Data

In [12]:
def distrbution_pareto_ll(limit: int = (serving_limit - 1)):
        # change for a better distribution later -----------------
        k = [limit + 1]

        while max(k) > limit:
            k = np.int64(np.random.default_rng().pareto(3., data_size))

        return k

# Generate Data

In [13]:
def generate_data(people = people) -> pd.DataFrame:
    
    total_hours = [hour for hour in hours for _ in enumerate(people)]
    people = np.array(people * (data_size // len(people)))
    food_list = list(food)
    
    
# For filling in the calorie content for the newly added foods, I will use standard calorie values from reliable sources.
# These are approximate values and may vary based on specific food varieties and preparation methods.
    parameters_values = [np.nan for _ in parameters]  
    total_hours = np.array(total_hours * (data_size // rows_per_day))
    amount_food = [distrbution_pareto_ll() for _ in enumerate(food_list)] 
    

    df =  pd.DataFrame({key: value for key, value in zip(parameters + food_list, parameters_values + amount_food)})


    for i, key in enumerate(parameters):
        if i == 0: df[key] = generate_dates()
        if i == 1: df[key] = total_hours
        if i == 2: df[key] = people
        if i == 3: df[key] = df[food_list].sum(axis=1, numeric_only=True)
        if i >= 4: df[key] = df[key] = index(df, match_x(key))
        

    return df

In [14]:
generate_data()

,fecha,hora,persona,num. comidas,calorias,grasas saturadas (mg),grasas insaturadas (mg),proteinas (mg),carbohydrates,cereal,...,Tostada,Uvas,Pure,Tacos de salmon,Café,Chocolate,Snacks,Pizza,sabritas,fuzetea
0,11/5/2022,7:00:00 AM,palomares,8,1596,1596,1596,1596,1596,0,...,1,0,0,0,3,0,0,0,0,0
1,11/5/2022,7:00:00 AM,adrian,20,4717,4717,4717,4717,4717,0,...,0,0,0,0,2,0,0,0,1,0
2,11/5/2022,7:00:00 AM,angel,7,1002,1002,1002,1002,1002,0,...,0,1,0,0,0,1,0,0,0,0
3,11/5/2022,10:00:00 AM,palomares,14,5900,5900,5900,5900,5900,0,...,0,0,0,0,0,0,0,0,1,2
4,11/5/2022,10:00:00 AM,adrian,9,2173,2173,2173,2173,2173,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,11/14/2022,10:00:00 PM,adrian,12,1917,1917,1917,1917,1917,0,...,0,0,0,0,0,0,0,0,0,0
176,11/14/2022,10:00:00 PM,angel,2,230,230,230,230,230,1,...,0,0,0,0,0,0,0,0,0,0
177,11/14/2022,11:00:00 PM,palomares,2,290,290,290,290,290,0,...,0,0,0,1,0,0,0,0,0,0
178,11/14/2022,11:00:00 PM,adrian,5,801,801,801,801,801,0,...,0,0,0,0,0,1,0,0,0,0
179,11/14/2022,11:00:00 PM,angel,10,1684,1684,1684,1684,1684,0,...,0,1,1,0,0,0,0,0,0,0

# Print and Read Data

In [15]:
def print_data(new: bool):                                             # I think it will be remove due to excel limitations
    generate_data().to_excel(second_archive if new else archive, \
                             sheet_name=all_sheets[0], index=False)

In [16]:
def read_new_data(new: bool):                                         # I think it will be remove due to excel limitations
    
    return pd.read_excel(
        second_archive if new else archive,
        sheet_name = all_sheets[0],
        na_values = None
    )